<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles/header.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../static/scripts/mylibrary.js"></script>
    <title>MyLibrary</title>
</head>
<body>
<div id="linkbar">
    <a href="index.html">Home</a>
    <a href="">Login</a>
</div>
    <input autocomplete="off" aufofocus name="q" placeholder="Search for a book" type="search" />
<section class="booksResults">
    <!-- <div class="book">
        <img src="../static/images/book.jpg" alt="book" />
        <div class="bookInfo">
            <h3>Book Title</h3>
            <p>Author</p>
            <p>Genre</p>
            <p>Year</p>
        </div>
    </div>
    <div class="book">
        <img src="../static/images/book.jpg" alt="book" />
        <div class="bookInfo">
            <h3>Book Title</h3>
            <p>Author</p>
            <p>Genre</p>
            <p>Year</p>
        </div>
    </div>
    <div class="book">
        <img src="../static/images/book.jpg" alt="book" />
        <div class="bookInfo">
            <h3>Book Title</h3>
            <p>Author</p>
            <p>Genre</p>
            <p>Year</p>
        </div>
    </div>
    <div class="book">
        <img src="../static/images/book.jpg" alt="book" />
        <div class="bookInfo">
            <h3>Book Title</h3>
            <p>Author</p>
            <p>Genre</p>
            <p>Year</p>
        </div>
    </div>
    <div class="book">
        <img src="../static/images/book.jpg" alt="book" />
        <div class="bookInfo">
            <h3>Book Title</h3>
            <p>Author</p>
            <p>Genre</p>
            <p>Year</p>
        </div>
    </div>
    <div class="book">
        <img src="../static/images/book.jpg" alt="book" />
        <div class="bookInfo">
            <h3>Book Title</h3>
            <p>Author</p>
            <p>Genre</p>
            <p>Year</p>
        </div>
    </div>
    <div class="book">
        <img src="../static/images/book.jpg" alt="book" />
        <div class="bookInfo">
            <h3>Book Title</h3>
            <p>Author</p>
            <p>Genre</p>
            <p -->
</section>
</body>
</html>